### firefox
*.html
*.txt
##*.xml
##*.rdf
*.lock
*.sqlite-shm
*.sqlite-wal
*.mozlz4
bookmarkbackups
crashes
datareporting
downthemall.net
gmp
gmp-eme-adobe
gmp-gmpopenh264
gmp-widevinecdm
##icons
jumpListCache
mimidumps
OfflineCache
pan
safebrowsing
saved-telemetry-pings
sessionstore-backups
startupCache
storage
thumbnails
weave
